.home-container {
  color: white;
  padding-bottom: 20px;
  height: auto;
  min-height: 55vh;
  width: 100%;
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default padding */
  position: relative; /* Required for z-index */
  z-index: 10; /* Ensure Home page is above other sections */
}

.home-content {
  margin: 15px;
  padding-top: 80px;
}

.home-content h2 {
  padding: 10px;
  font-size: 1.5rem;
}

.home-content h1 {
  padding: 10px;
  color: #f29f67;
  line-height: 1.2;
  margin: 10px 0;
  font-size: 2rem;
}

.home-buttons {
  margin-top: 42px;
}

.home-buttons .btn-hire {
  background-color: #3b8ff3;
  color: white;
  width: 140px;
  font-weight: 500;
  font-size: 17px;
}

.home-buttons .btn-hire:hover {
  width: 170px;
  transition: 1s;
  background-color: white;
  color: #3b8ff3;
  font-size: 19px;
}

.home-buttons .btn-cv {
  background-color: #f29f67;
  color: white;
  margin-left: 17px;
  font-weight: 500;
  font-size: 17px;
  width: 140px;
}

.home-buttons .btn-cv:hover {
  opacity: 0.8;
  transition: 1s;
}

.theme-btnn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 50px;
  width: 65px;
  margin-top: 20px;
  text-align: center;
  position: fixed;
  cursor: pointer;
  z-index: 4000;
  color: white;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  right: 0;
  padding: 10px;
}

/* ===================>>>>>>>>>   Mobile view */

@media (max-width: 600px) {
  .home-container {
    margin-left: 0; /* Remove left margin for mobile screens */
  }

  .home-content {
    padding-top: 100px;
    /* text-align: center; */
  }

  .home-content h2 {
    font-size: 1.2rem;
    padding: 5px;
  }

  .home-content h1 {
    font-size: 1.5rem;
    padding: 5px;
    line-height: 1.2;
  }

  .home-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 75%;
  }

  .home-buttons .btn-hire,
  .home-buttons .btn-cv {
    width: 100%;
    margin-left: 0;
    font-size: 16px;
  }

  .home-buttons .btn-hire:hover,
  .home-buttons .btn-cv:hover {
    width: 100%;
  }

  .theme-btnn {
    display: none;
  }
}
