.sidebar-section {
  display: flex;
  margin: 0px;
  padding: 0px;
  min-height: 50vh;
  background-color: black;
}

.container-fluid {
  flex: 1;
}

.sidebar {
  height: 100vh;
  background-color: #1e1e2c;
  width: 120px;
  position: fixed;
}

.sidebar-toggler {
  width: 260px;
}

.content-shifted {
  margin-left: 288px;
}

.sidebar-toggle-icon {
  display: flex;
  align-items: right;
  justify-content: right;
  cursor: pointer;
}

.sidebar-toggle-icon p svg {
  background-color: #f29f67;
  color: white;
  margin-top: 30px;
}

/* ============>>> Mobile view */

@media (max-width: 768px) {
  .sidebar-section {
    position: relative; /* Adjust positioning for mobile */
    min-height: auto; /* Allow height to adjust based on content */
    flex-direction: column; /* Stack sidebar and content vertically */
  }

  .sidebar {
    display: none; /* Hide sidebar by default on mobile */
  }

  .sidebar-toggler {
    width: 100%; /* Make sidebar full width when toggled */
    position: relative; /* Adjust positioning for mobile */
    height: auto; /* Allow height to adjust based on content */
  }

  .content-shifted {
    margin-left: 0; /* Remove margin for mobile screens */
  }

  .sidebar-toggle-icon {
    display: flex;
    justify-content: center; /* Center the toggle icon */
    margin-top: 10px; /* Adjust margin for better spacing */
  }

  .sidebar-toggle-icon p svg {
    margin-top: 0; /* Remove top margin for better alignment */
  }
}